@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Poppins", sans-serif; 
    overflow-x: hidden;
    background-color: #f7f7f7;
}

.recipe-description {
    display: flex;
    flex-direction: column;
}

.recipe-description p {
    font-size: 1em;
    text-align: center;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.main-title { 
    margin: 1em;
    border-bottom: solid black 1px;
    font-weight: 400;
}

.main-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
}

.secondary-title {
    font-size: 1em;
    text-align: center;
    margin: 0em 10em;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.ingredients {  
    max-width: 350px;
    margin-left: 1em;
    border: black solid 1px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    padding: 1em;
}

.ingredients-title {
    padding-bottom: 1em;
}

.ingredients ul {
    padding-top: 0.5em;
}

.instructions {
    margin-top: 2em;
    margin-right: 1em;
    margin-bottom: 5em;
    margin-left: 2em;
}

.instructions-title {
    padding-bottom: 1em;
}

.instructions ol {
    padding-top: 0.5em;
}

li {
    display: list-item;
    list-style-position: inside;
    padding-bottom: 1.5em;
}



@media screen and (max-width: 875px) {
    .secondary-title {
        margin: 0em 1.5em;
    }

    .main-title { 
        font-size: 1.5em;
    }

    .container {
        flex-direction: column;
        align-items:  center;
    }

}





